@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  /*Side Navigation Menu*/
  
  .wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #416650;
    padding: 30px 0px;
    position: fixed;
  }
  
  .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    font-size: 35px;
  }

  .wrapper .sidebar h3{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #82de9a;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul a, .wrapper .sidebar ul a:link, .wrapper .sidebar ul a:visited{
    color: #82de9a !important;
    display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #96c68c;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #a6ebb8;
  }
   
  .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #76ad6a;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #a6ebb8;
    border-radius: 5px;
  }

  /*Main Content Classes*/

  main.scroll-section {
    margin-left: 200px;
    height: 100%;
  }

  .floated-quotes{
    position: absolute;
    text-align: left;
    animation: quotes 5s linear infinite;
  }

  .floated-quotes p{
    font-size: 2.5rem;
    color: black;
    white-space: pre-line;
  }

  @keyframes quotes{
    0% { opacity: 0; }
    5% { opacity: 0; }
    12% { opacity: 1; }
    88% { opacity: 1; }
    95% { opacity: 0; }
    100% { opacity: 0; }
  }

  .headerimage{
    opacity: 0.4;
    top: -100px;
    position: absolute;
    max-width: 150%;
    max-height: 150%;
  }

  .container{
    position: relative;
    height: 400px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  #aboutme .social_media{
    position: relative;
    display: none;
  }

  :root {
    --marquee-width: 80vw;
    --marquee-height: 26vh;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements)  * 2s);
  }
  
  .marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #ebf0fa;
    color: #ebf0fa;
    overflow: hidden;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
  }
  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    background: linear-gradient(to right, #ebf0fa 0%, transparent 100%);
  }
  .marquee:after {
    right: 0;
    background: linear-gradient(to left, #ebf0fa 0%, transparent 100%);
  }
  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
  /* .marquee-content:hover {
    animation-play-state: paused;
  } */
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
  }
  
  .marquee-content li img {
    min-height: 100%;
    min-width: 100%;
    /* height: 100%; */
    border: 2px solid #eee;
  }
  
  @media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
      --marquee-width: 95vw;
      --marquee-height: 13vh;
      --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }

  body{
    background-color: #ebf0fa;
  }

  .section-label {
    width: 100%;
    float:left;
    background:#76ad6a;
    text-align:left;
  }

  .section-label h2{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    margin: auto;
    color: #ffffff;
    font-size: 30px;
  }

  .section-content {
    width: 100%;
  }

  .card-large, .card-small{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    margin: 3%;
    font-size: 1.25rem;
    line-height: 2.5rem;
    background-color: #ffffff;
  }

  .card-small {
    width: 50%;
    display: grid;
  }

  .card-small img{
    margin-right: 20px;
    margin: 30%;
  }

  .card-content {
    padding: 25px 25px;
    line-height: 2.5rem;
  }

  .grid-container{
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
 }

  .grid-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 0;
  }

  .card-small .row {
    display: flex;
  }
  
  .card-small .column {
    flex: 50%;
  }

  .app-stores {
    color: #416650;
  }

  .app-stores:hover {
    color: #96c68c;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card-large:hover, .card-small:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card-content h3{
    font-size: 2rem;
    color: #e69265;
  }

  .card-content h3:visited{
    color: #e69265;
  }

  .card-content h4{
    font-size: 1.5rem;
  }

  .card-large img{
    max-height: 100px;
    max-width: 100%;
  }

  .card-small img{
    max-height: 150px;
  }

  .icon-circle {
    background: #e69265;
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  .icon-overlay {
    display: block; 
    text-align: center; 
    margin-top: 20px;
    color: white;
  }

  #education-content, #project-content{
    display: flex;
    flex-direction: row;
  }

  #skills-content{
    display: flex;
    flex-direction: column;
  }

  #skills-content a{
    color: black;
  }

  #skills-content > div:not(:first-child){
    margin-top: 0%;
  }

  #contact-content{
    display: flex;
    flex-direction: row;
  }

  #contact-content a{
    color: black;
  }

  #contact-content li{
    display: flex;
    margin-top: 4%;
  }

  #contact-content ul{
    display: flex; 
    flex-direction: column;
    margin-top: 4%;
  }

  #contact-content h4{
    margin: 25px;
  }

  #contact-content img{
    border-radius: 50%;
    max-height: 250px;
    max-width: 250px;
    margin: 5%;
  }

.button {
  visibility: hidden;
  appearance: none;
  backface-visibility: hidden;
  background-color: #416650;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 5% 0 5% 25%;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


/* Media Queries */

@media (max-width: 35em) {
  .headerimage {
    max-width: 100%;
    position: static;
  }

  .container {
    height: auto;
  }

  ::-webkit-scrollbar {
    display: none;
}
}

@media (max-width: 50em) {
  
  .wrapper {
    display: block;
    position: relative;
  }

  main.scroll-section {
    margin-left: 0px;
  }

  .card-content h3{
    font-size: 1.3rem;
  }

  .card-content h4{
    font-size: 1.3rem;
  }

  .card-content p{
    font-size: 1.0rem;
  }

  .floated-quotes p{
    display: none;
  }

  .card-small .row {
    flex-direction: column;
  }

  .card-small img{
    max-height: 180px;
    margin: 15%;
  }

  .wrapper .sidebar{
    width: 100%;
    height: 150px;
    padding: none;
    position: relative;
    margin-top: 0px;
  }

  .wrapper .sidebar ul{
    display: none;
  }

  .wrapper .sidebar .social_media{
    display: none;
  }

  #aboutme .social_media{
    display: flex;
    margin: 2%;
    padding-top: 2%;
  }

  #aboutme .section-label{
    display: flex;
    flex-direction: row;
  }
  
  .social_media a{
    display: block;
    width: 40px;
    background: #416650;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #82de9a;
    border-radius: 5px;
  }

  .section-label h2{
    margin-left: 30px;
  }

  #projects .section-label h2{
    padding-left: 20px;
  }

  #contact-content h4{
    font-size: 0.8rem;
  }

  #contact-content img{
    margin-left: 15%;
  }

  button{
    visibility: visible !important;
    appearance: button;
  }
}

@media (max-width: 60em) {
  #education-content{
    flex-direction: column;
  }

  .card-small {
    width: 90%;
  }

  #contact-content{
    flex-direction: column;
    margin: 0%;
  }
}

@media (max-width: 80em) {
  #project-content{
    flex-direction: column;
  }

  #project-content .card-small {
    width: 90%;
  }

  .floated-quotes p{
    font-size: 1.2rem;
  }

  #contact-content ul{
    margin-left: 5%;
    margin-bottom: 5%;
  }

  .headerimage{
    top: 0px;
  }

}

@media (max-height: 38em) {
  .headerimage{
    max-height: 250%;
  }
}

@media (max-height: 30em) {
  .headerimage{
    width: 100%;
  }
}



